//支持中文注释
@charset "utf-8";
// css重置样式
@import "https://necolas.github.io/normalize.css/5.0.0/normalize.css";
// 文本溢出变成省略号
@mixin textoverflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// 边框圆角（默认：正圆50%）
@mixin borderradius($value:50%) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
    border-radius: $value;
}

@mixin wrapper ($W) {
    width: $w;
    margin: 0 auto;
}