header {
    height: 36px;
    line-height: 36px;
    background: #f5f5f5;
    padding: 0 38px 0 36px;
    .wrapper {
        float: right;
        a {
            color: #111;
            text-decoration: none;
            &:hover {
                color: #757575;
            }
        }
        span {
            margin: 5px;
        }
    }
}

@import "login&registry";