@charset "utf-8"; //支持中文注释
@import "common";
@import "header";
@import "nav";
main {
    display: flex;
    justify-content: space-around;
    .pic {
        width: 910px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 100px;
        img {
            width: 400px;
            height: 500px;
            margin: 10px;
        }
    }
    .intro {
        width: 376px;
        .box {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .detail {
            font-weight: 900;
            line-height: 30px;
            margin-top: 40px;
            width: 250px;
        }
        .price {
            &::before {
                content: '¥';
            }
        }
        button,
        .enter {
            color: white;
            background: #000;
            width: 376px;
            height: 60px;
            border-radius: 30px;
            margin-top: 50px;
            cursor: pointer;
        }
        .enter {
            text-decoration: none;
            display: block;
            background: white;
            border: 1px solid #000;
            color: #000;
            text-align: center;
            line-height: 60px;
        }
    }
}

@import "footer";