@charset "utf-8"; //支持中文注释
@import "common";
@import "header";
@import "nav";
@import "banner";
main {
    width: 90%;
    margin: 0 auto;
    h2 {
        margin-top: 100px;
    }
    img {
        width: 100%;
    }
    .part2 {
        display: flex;
    }
}

@import "footer";