@charset "utf-8"; //支持中文注释
@import "common";
@import "header";
@import "nav";
main ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
        width: 22%;
        height: 508px;
        list-style: none;
        a {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: #000;
            font-weight: 900;
            img {
                width: 324px;
                height: 324px;
            }
            p {
                margin-bottom: 20px;
            }
            span::before {
                content: '¥';
            }
        }
    }
}

@import "footer";